<!-- <div class="row mt-5">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <div class="auth-avatar">
          <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
        </div>
        <form >
            <div class="form-group">
              <label for="name">Name : </label>
              <input type="text" name="name" class="form-control" placeholder="Name" >
            </div>
            <div class="form-group">
              <label for="phone">Phone : </label>
              <input type="text" name="phone" class="form-control" placeholder="Phone">
            </div>
            <div class="form-group">
              <label for="email">Email : </label>
              <input type="text" name="email" class="form-control" placeholder="Email" >
            </div>
            <div class="form-group">
              <label for="password">Password : </label>
              <input type="password" name="password" class="form-control" placeholder="********">
            </div>
            <div class="form-group">
              <label for="c_password">Confirm Password : </label>
              <input type="password" name="c_password" class="form-control" placeholder="********">
            </div>
            <div class="text-center mt-2">
              <input type="submit" class="btn btn-my" value="Sign Up">
            </div>
            <div class="text-center login">
              <span class="text-white mr-2">Already have an account ?</span> <a routerLink="/login">Login</a>
            </div>
            
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
     <div class="form-box register">
           <form>
              <h1>Register</h1>
              <div class="input-box">
                 <input type="text" placeholder="Username" />
                 <i class="bx bxs-user"></i>
              </div>
               <div class="input-box">
                 <input type="text" placeholder="Email" />
                 <i class="bx bxs-envelope"></i>
              </div>
              <div class="input-box">
                <input type="password" placeholder="Password"/>
                <i class="bx bxs-lock-alt"></i>
              </div>
            
              <button type="submit" class="btn">Register</button>
              <p>or register with social platform</p>
              <div class="social-icons">
                 <a ><i class="bx bxl-google text-warning"></i></a>
                  <a ><i class="bx bxl-facebook" style="color: rgb(64, 107, 248);"></i></a>
                   <a ><i class="bx bxl-github "></i></a>
                    <a ><i class="bx bxl-linkedin" style="color: rgb(19, 57, 182);"></i></a>
              </div>
           </form>
    </div>
    <div class="toggle-box">
        <div class="toggle-pannel toggle-right">
          <h1>Welcome Back</h1>
          <p>Already have an account?</p>
          <button class="btn register-btn" routerLink="/login">Login</button>
        </div>

    </div>
</div>