<div class="container">
  <div class="form-box register">
    <form [formGroup]="signupForm">
      <h1>Register</h1>
      <div class="input-box">
        <input id="UserName" type="text" formControlName="UserName" placeholder="Username" />
        <i class="bx bxs-user"></i>
        <div *ngIf="isSubmitted && frmsignup.UserName.errors" class="text-danger float-start txt-12">
                     <div *ngIf="isSubmitted && frmsignup.UserName.errors.required">
                           Please enter the user name
                     </div>
                </div>
      </div>
      <div class="input-box">
        <input id="UserEmail" type="text" formControlName="UserEmail" placeholder="Email" />
        <i class="bx bxs-envelope"></i>
         <div *ngIf="isSubmitted && frmsignup.UserEmail.errors" class="text-danger float-start txt-12">
                     <div *ngIf="isSubmitted && frmsignup.UserEmail.errors.required">
                           Please enter the user email
                     </div>
                </div>
      </div>
      <div class="input-box">
        <input id="Password" type="password" formControlName="Password" placeholder="Password" />
        <i class="bx bxs-lock-alt"></i>
              <div *ngIf="isSubmitted && frmsignup.Password.errors" class="text-danger float-start txt-12">
                     <div *ngIf="isSubmitted && frmsignup.Password.errors.required">
                           Please enter the password
                     </div>
                </div>
      </div>

      <button (click)="signup()" class="btn">Register</button>
      <p>or register with social platform</p>
      <div class="social-icons">
        <a><i class="bx bxl-google text-warning"></i></a>
        <a><i class="bx bxl-facebook" style="color: rgb(64, 107, 248);"></i></a>
        <a><i class="bx bxl-github "></i></a>
        <a><i class="bx bxl-linkedin" style="color: rgb(19, 57, 182);"></i></a>
      </div>
    </form>
  </div>
  <div class="toggle-box">
    <div class="toggle-pannel toggle-right">
      <h1>Welcome Back</h1>
      <p>Already have an account?</p>
      <button class="btn register-btn" routerLink="/login">Login</button>
    </div>

  </div>
</div>