<div class="container">
    <div class="form-box login">
        <form [formGroup]="loginForm">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" formControlName="UserName" placeholder="Username" 
                />
                <i class="bx bxs-user"></i>
                <div *ngIf="isSubmitted && lginForm.UserName.errors" class="text-danger float-start txt-12">
                     <div *ngIf="isSubmitted && lginForm.UserName.errors.required">
                           Please enter the username
                     </div>
                </div>
            </div>
            <div class="input-box">
                <input type="password" formControlName="Password" placeholder="Password" />
                <i class="bx bxs-lock-alt"></i>
                <div *ngIf="isSubmitted && lginForm.Password.errors" class="text-danger float-start txt-12">
                     <div *ngIf="isSubmitted && lginForm.Password.errors.required">
                           Please enter the password
                     </div>
                </div>
            </div>
            <div class="forgot-link">
                <a href="#">Forgot Password</a>
            </div>
            <button (click)="login()" class="btn">Login</button>
            <p>or login with social platform</p>
            <div class="social-icons">
                <a><i class="bx bxl-google text-warning"></i></a>
                <a><i class="bx bxl-facebook" style="color: rgb(64, 107, 248);"></i></a>
                <a><i class="bx bxl-github "></i></a>
                <a><i class="bx bxl-linkedin" style="color: rgb(19, 57, 182);"></i></a>
            </div>
        </form>
    </div>

    <div class="toggle-box">
        <div class="toggle-pannel toggle-left">
            <h1>Hello, Welcome</h1>
            <p>Don't have an account</p>
            <button class="btn register-btn" routerLink="/sign-up">Register</button>
        </div>
    </div>
</div>