@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#e2e2e2,#c9d6ff);
}

.txt-14{
    font-size: 18px;
}

.txt-12{
    font-size: 13px;
}

.txt-10{
    font-size: 10px;
}